<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <bean name="cardRepository" class="org.example.repository.CardRepository"></bean>


    <bean name="termRepository" class="org.example.repository.TermRepository"></bean>


    <bean name="profileRepository" class="org.example.repository.ProfileRepository"></bean>


    <bean name="transactionRepository" class="org.example.repository.TransactionRepository"></bean>


    <bean name="generalService" class="org.example.service.GeneralService">
        <property name="adminController" ref="adminController"/>
        <property name="profileRepository" ref="profileRepository"/>
    </bean>


    <bean name="userService" class="org.example.service.UserService">
        <property name="cardService" ref="cardService"/>
        <property name="terminalService" ref="terminalService"/>
        <property name="transactionService" ref="transactionService"/>
    </bean>


    <bean name="cardService" class="org.example.service.CardService">
        <property name="cardRepository" ref="cardRepository"/>
    </bean>


    <bean name="terminalService" class="org.example.service.TerminalService">
        <property name="termRepository" ref="termRepository"/>
    </bean>


    <bean name="profileService" class="org.example.service.ProfileService">
        <property name="profileRepository" ref="profileRepository"/>
    </bean>


    <bean name="transactionService" class="org.example.service.TransactionService">
        <property name="transactionRepository" ref="transactionRepository"/>
    </bean>


    <bean name="adminCardPanel" class="org.example.UtilPanel.AdminCardPanel">
        <property name="cardService" ref="cardService"/>
        <property name="terminalService" ref="terminalService"/>
        <property name="statusChooseUtil" ref="statusChoose"/>
    </bean>


    <bean name="adminTerminalPanel" class="org.example.UtilPanel.AdminTerminalPanel">
        <property name="terminalService" ref="terminalService"/>
        <property name="statusChooseUtil" ref="statusChoose"/>
    </bean>


    <bean name="adminProfilePanel" class="org.example.UtilPanel.AdminProfilePanel">
        <property name="profileService" ref="profileService"/>
        <property name="statusChooseUtil" ref="statusChoose"/>
    </bean>


    <bean name="statusChoose" class="org.example.util.StatusChooseUtil"></bean>


    <bean name="transactionPanel" class="org.example.UtilPanel.AdminTransactionPanel">
        <property name="transactionService" ref="transactionService"/>
        <property name="cardService" ref="cardService"/>
    </bean>


    <bean name="statisticPanel" class="org.example.UtilPanel.AdminStatisticPanel">
        <property name="transactionService" ref="transactionService"/>
    </bean>


    <bean name="adminController" class="org.example.controller.AdminController">
        <property name="adminCardPanel" ref="adminCardPanel"/>
        <property name="adminTerminalPanel" ref="adminTerminalPanel"/>
        <property name="adminProfilePanel" ref="adminProfilePanel"/>
        <property name="adminTransactionPanel" ref="transactionPanel"/>
        <property name="adminStatisticPanel" ref="statisticPanel"/>
    </bean>


</beans>